<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>精选</title>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/index.css" rel="stylesheet" type="text/css" />
<script src="/static/js/context.js"></script>
<script src="/static/js/menu.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/context.standalone.css">
    <link rel = "Shortcut Icon" href="/static/images/vrhelper20.ico">
</head>
<body>
<!--<body oncontextmenu="return false">-->
     <!-- <div id="header"></div>  -->
    <div id="middle">
        <div id="left">
            {% include 'CMS/nav.html' %}
        </div>
        <style type="text/css">
            .font-1 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 45px;
}
 
.helmet {
    max-height: 5vh;
}
 
.text-center {
    text-align: center;
}
        </style>
        <div id="right">
            <div class="font-1 helmet text-center">
                 <p>用户请重新登录</p>
               </div>

<div style="background: url(/static/images/alert.jpg);    width: 49%;    height: 58%;       margin-bottom: 0px;    margin-top: 281px;    margin-left: 289px;""></div>


        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/static/js/nof5.js"></script>