            <div id="middle-left-menu-top">菜单</div>
            <div id="middle-left-menu">
                 <ul>
                    <li id="jingxuan">
                        <span>
                            <a href="/">精选</a>
                        </span>
                    </li>
                    <li id="yingshi">
                          <span>
                            <a href="/video/">影视</a>
                        </span>
                    </li>
                    <li  id="tupian">
                         <span>
                            <a href="/image/">图片</a>
                        </span>
                    </li>
                    <li  id="youxi">
                         <span>
                                <a href="/game/">游戏</a>
                        </span>
                    </li>
                    <li  id="zhibo">
                         <span>
                             <a href="/live/">直播</a>
                        </span>
                    </li>
                    <li  id="shangcheng">
                         <span>
                            <a href="#">商城</a>
                        </span>
                    </li>
                    <li id="luntan">
                         <span>
                            <a href="#">论坛</a>
                        </span>
                    </li>
                 </ul>
            </div>